*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}
body{
	width: 65%;
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("1.jpg");
  color:yellow;
}

.tab{
  margin-top: 5%;
  width: 50%;
  margin-left: 50%;
  border: 2px solid red ;
  text-align: center;
  text-decoration-color: green;
  font-color:green;
  max-height:60%;
}
.tab2 {
  margin-top: 5%;
  width: 50%;
  margin-left: 50%;
  border: 2px solid green ;
  text-align: center;
  text-decoration-color: red;
  font-color:green;
  max-height:60%;
}
.tab1{
  margin-top: 5%;
  width: 50%;
  margin-left: 50%;
  border: 2px solid pink ;
  text-align: center;
  text-decoration-color: red;
  font-color:green;
  max-height:60%;
  font font-weight: 2000;
}


tr{
	width:30%;
}

td, th {
  position: center;
  padding: 3%;
}
button{
	position: justify;
  width:100%;
  font-weight: bold;
}
.prev{
  background-color: #FFDAB9; 
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}
.next{
  background-color: #FFDAB9; 
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.pt{
  color:red;
  font-weight: 1000;
}
.score{
  color:red;
  font-weight: 1000;
}
